.connection {
	margin-left:3%;
	width:270px;
	height:390px;
}

#inputlastname , #inputfirstname , #inputpassword , #inputlogin , #inputaddress {
margin-left:-1px;
}

.sendconnection {
margin-right:24%;
}

.test-geocoding-map {
	width:350px;
	height:450px;
}