.connection2 {
	width:280px;
	
}

.connection {
	height:400px;
}
#inputlastname , #inputfirstname , #inputpassword , #inputlogin , #inputaddress {
margin-left:-1px;
width:100%;
}



.test-geocoding-map {
	height:450px;
	margin-left:3%;
}
