.page-header {
	margin-top:40px;
}

.connection2 {
	margin-left: 28px;
	width:200px;
}

.sendconnection {
margin-right:15%;
}

.test-geocoding-map{
width:0px;
height:0px;
visibility:hidden;
}

.connection {
	width:200px;
	margin-left:28px;
}